<html>
@{
    Layout = "~/Views/DashboardLayout.cshtml";
    ViewBag.Title = "Home";
}

<body>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-4">
                            <a href="/Admin/Display">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Show Admins</span>

                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="/Tuter/Index">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-green card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Show Tutors</span>

                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="/Student/Index">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-orenge card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Show Students</span>

                                    </span>
                                </span>
                            </a>
                        </div>

                        <!-- card1 end -->
                        <!-- card1 start -->
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-xl-4">
                            <a href="/Account/AdminRegistration">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-pink card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Admin Registration</span>

                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="/Account/TutorRegistration">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-yellow card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Tutor Registration</span>

                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <a href="/Account/StudentRegistration">
                                <span class="card widget-card-1 x" style="height:200px">
                                    <span class="card-block-small">
                                        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                        <br />
                                        <span class="text-danger" style="font-size:30px">Student Registration</span>

                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>

                   
</body>

                    </html>

